openapi: 3.0.0
info:
  title: High-Five Clothing Shop API
  version: 1.0.0
  description: API 명세서 (카테고리별로 정리)
servers:
- url: https://api.highfive.com/v1
tags:
- name: User
  description: User 관리
- name: Product
  description: Product 관리
- name: Order
  description: Order 관리
- name: Cart
  description: Cart 관리
- name: Alert
  description: Alert 관리
- name: Admin
  description: Admin 관리
- name: Promotion
  description: Promotion 관리
paths:
  /user:
    get:
      tags:
      - User
      summary: User 목록 조회
      responses:
        '200':
          description: User 목록 반환
    post:
      tags:
      - User
      summary: User 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User 생성 성공
  /user/login:
    post:
      tags:
      - User
      summary: User로그인
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: 사용자 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /user/token/refresh:
    post:
      tags:
      - User
      summary: Token refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Token'
      responses:
        '200':
          description: 토큰 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /user/{id}:
    get:
      tags:
      - User
      summary: 특정 User 조회
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: User 정보 반환
    put:
      tags:
      - User
      summary: User 수정
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - User
      summary: User 삭제
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료
  /product:
    get:
      tags:
      - Product
      summary: Product 목록 조회
      responses:
        '200':
          description: Product 목록 반환
    post:
      tags:
      - Product
      summary: Product 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          description: Product 생성 성공
  /product/{id}:
    get:
      tags:
      - Product
      summary: 특정 Product 조회
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Product 정보 반환
    put:
      tags:
      - Product
      summary: Product 수정
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - Product
      summary: Product 삭제
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료

  /order/{user_id}:
    get:
      tags:
        - Order
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer

      summary: Order 목록 조회
      responses:
        '200':
          description: 고객 Order 목록 반환
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
  /order:
    get:
      tags:
      - Order
      summary: Order 목록 조회
      responses:
        '200':
          description: Order 목록 반환
    post:
      tags:
      - Order
      summary: Order 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: Order 생성 성공
  /order/{id}:
    get:
      tags:
      - Order
      summary: 특정 Order 조회
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Order 정보 반환
    put:
      tags:
      - Order
      summary: Order 수정
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - Order
      summary: Order 삭제
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료

  /cart:
    get:
      tags:
      - Cart
      summary: Cart 목록 조회
      responses:
        '200':
          description: Cart 목록 반환
    post:
      tags:
      - Cart
      summary: Cart 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cart'
      responses:
        '201':
          description: Cart 생성 성공
  /cart/{user_id}/{product_id}:
    get:
      tags:
      - Cart
      summary: 특정 Cart 조회
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer

      - name: product_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Cart 정보 반환
    put:
      tags:
      - Cart
      summary: Cart 수정
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer

      - name: product_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cart'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - Cart
      summary: Cart 삭제
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer

      - name: product_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료

  /alert:
    get:
      tags:
      - Alert
      summary: Alert 목록 조회
      responses:
        '200':
          description: Alert 목록 반환
    post:
      tags:
      - Alert
      summary: Alert 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
      responses:
        '201':
          description: Alert 생성 성공
  /alert/{id}:
    get:
      tags:
      - Alert
      summary: 특정 Alert 조회
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Alert 정보 반환
    put:
      tags:
      - Alert
      summary: Alert 수정
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - Alert
      summary: Alert 삭제
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료
  /admin:
    post:
      tags:
      - Admin
      summary: admin login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: admin 정보 반환
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'

  /promotion:
    get:
      tags:
      - Promotion
      summary: Promotion 목록 조회
      responses:
        '200':
          description: Promotion 목록 반환
    post:
      tags:
      - Promotion
      summary: Promotion 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '201':
          description: Promotion 생성 성공
  /promotion/{id}:
    get:
      tags:
      - Promotion
      summary: 특정 Promotion 조회
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Promotion 정보 반환
    put:
      tags:
      - Promotion
      summary: Promotion 수정
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '200':
          description: 수정 완료
    delete:
      tags:
      - Promotion
      summary: Promotion 삭제
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: 삭제 완료
components:
  schemas:
    User:
      type: object
      properties:
        account:
          type: string
        password:
          type: string
        age:
          type: integer
        name:
          type: string
        gender:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        address:
          type: string
    Login:
      type: object
      properties:
        account:
          type: string
        password:
          type: string
    Token:
      type: object
      properties:
        access:
          type: string
        refresh:
          type: string
    AToken:
      type: object
      properties:
        access:
          type: string
    RToken:
      type: object
      properties:
        refresh:
          type: string

    Product:
      type: object
      properties:
        name:
          type: string
        price:
          type: integer
        category_code:
          type: string
        discount:
          type: integer
        purchase_total:
          type: integer
        major_category:
          type: string
        gender:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        img_url:
          type: string
        page_view_total:
          type: integer
        brand_eng:
          type: string
        product_likes:
          type: integer
        sub_category:
          type: string
        brand:
          type: string
        brand_likes:
          type: integer
        rank:
          type: string
        ori_price:
          type: integer
    Order_item:
      type: object
      properties:
        order_id:
          type: integer
        product_id:
          type: integer
        quantity:
          type: integer
        created_at:
          type: string
    Order:
      type: object
      properties:
        user_id:
          type: integer
        status:
          type: string
        total:
          type: integer
        created_at:
          type: string
        updated_at:
          type: string
    Payment:
      type: object
      properties:
        card_num:
          type: string
        card_pass:
          type: integer
        user_id:
          type: integer
        created_at:
          type: string
        updated_at:
          type: string
    Cart:
      type: object
      properties:
        product_id:
          type: integer
        user_id:
          type: integer
        quantity:
          type: integer

    Favorite:
      type: object
      properties:
        user_id:
          type: integer
        count:
          type: integer
        product_id:
          type: integer
        created_at:
          type: string
    Alert:
      type: object
      properties:
        content:
          type: string
        title:
          type: string
        user_id:
          type: integer
        created_at:
          type: string
        is_global:
          type: boolean
    Admin:
      type: object
      properties:
        account:
          type: string
        password:
          type: string
        role:
          type: string


    Promotion:
      type: object
      properties:
        img_url:
          type: string
        start_time:
          type: string
        end_time:
          type: string
